{% extends "ticket-master/base.html" %}
{% block body %}
    <div class="container my-3">
        <form action="{% url 'remove_from_wishlist' item.id %}" method="post">
            {% csrf_token %}
            <h3>Are you sure that you want to remove event <br> {{ item.event.title }} <br> from the wish list?</h3>
            <button type="submit" class="btn btn-warning me-2">Remove</button>
            <a href="{% url 'wishlist' %}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Go Back</a>
        </form>
    </div>
    
{% endblock %}