{% extends "ticket-master/base.html" %}
{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="col-7">
                <h2>Update Tickets wished for {{ item.event.title }}</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="btn btn-primary my-2">Update</button>
                </form>

                <a href="{% url 'wishlist' %}" class="btn btn-danger my-2">Back to Wishlist</a>
            </div>
        </div>

    </div>



{% endblock %}